/* COLORS
  Red: #850b1f
  Wheat: #F5DEB3
  Sienna: #A0522D
  LemonChiffon: #FFFACD
  khaki: #F0E68C
*/

html {
  background-color: #A0522D;
}

header {
  text-align: center;
  color: #395e64;
  padding: 5%;
  background-color: #F0E68C;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  text-decoration: none;
}

a:link, a:visited {
  color: #FFFACD;
}

a:hover {
  color: #850b1f;
}

body {
  font-family: Georgia;
  margin-bottom: 2%;
}

ul, ol {
  text-align: left;
}

section {
  padding: 2%;
  max-width: 800px;
  margin: 2% auto;
  background-color: #F5DEB3;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.subheading {
  font-weight: bold;
}

@font-face {
  font-family: "MondayFeelings";
  src: url(css/fonts/mondayfeelings.ttf) format(truetype);
}

.recipe {
  font-family: "MondayFeelings";
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:  #F0E68C;
  width: 25%;
  padding: 1%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
}
